BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 80
BreakBeforeBraces: Custom
BraceWrapping:
  AfterStruct: true
  AfterEnum: true
  AfterUnion: true
  BeforeElse: true
  IndentBraces: false
CompactNamespaces: false
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortStruct: Never
